//Globals
$breakpoint-mobile-max: 767px;

.post-form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  @media (max-width: $breakpoint-mobile-max) {
  }

  &__input-container {
    width: 45%;

    @media (max-width: $breakpoint-mobile-max) {
      width: 100%;
      margin: 15px 10px;
    }
  }

  &__input-title {
  }

  &__input {
    width: 100%;
  }

  &__submit-container {
    width: 100%;
    text-align: center;
    margin-top: 25px;
    
    @media (max-width: $breakpoint-mobile-max) {
      margin-top: 10px;
    }
  }

  &__submit {
    border-radius: 25px !important;
  }
}

.post-form-success {
    text-align: center;
}